<a href="https://colab.research.google.com/github/TheStrangeGuy/Machine-Learning/blob/main/Random_Forest.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from sklearn.datasets import load_iris
from sklearn.ensemble import RandomForestClassifier
import pandas as pd
import numpy as np
# setting random seed
np.random.seed(0)

In [ ]:
iris = load_iris()
df = pd.DataFrame(iris.data, columns = iris.feature_names)
df.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [ ]:
df['species'] = pd.Categorical.from_codes(iris.target,iris.target_names)
df.head()

   sepal length (cm)  sepal width (cm)  ...  petal width (cm)  species
0                5.1               3.5  ...               0.2   setosa
1                4.9               3.0  ...               0.2   setosa
2                4.7               3.2  ...               0.2   setosa
3                4.6               3.1  ...               0.2   setosa
4                5.0               3.6  ...               0.2   setosa

[5 rows x 5 columns]

In [ ]:
df['is_train'] = np.random.uniform(0, 1, len(df)) <= .75
df.head(30)

    sepal length (cm)  sepal width (cm)  ...  species  is_train
0                 5.1               3.5  ...   setosa      True
1                 4.9               3.0  ...   setosa      True
2                 4.7               3.2  ...   setosa      True
3                 4.6               3.1  ...   setosa      True
4                 5.0               3.6  ...   setosa      True
5                 5.4               3.9  ...   setosa      True
6                 4.6               3.4  ...   setosa      True
7                 5.0               3.4  ...   setosa     False
8                 4.4               2.9  ...   setosa     False
9                 4.9               3.1  ...   setosa      True
10                5.4               3.7  ...   setosa     False
11                4.8               3.4  ...   setosa      True
12                4.8               3.0  ...   setosa      True
13                4.3               3.0  ...   setosa     False
14                5.8               4.0  ...   setosa      True
15                5.7               4.4  ...   setosa      True
16                5.4               3.9  ...   setosa      True
17                5.1               3.5  ...   setosa     False
18                5.7               3.8  ...   setosa     False
19                5.1               3.8  ...   setosa     False
20                5.4               3.4  ...   setosa     False
21                5.1               3.7  ...   setosa     False
22                4.6               3.6  ...   setosa      True
23                5.1               3.3  ...   setosa     False
24                4.8               3.4  ...   setosa      True
25                5.0               3.0  ...   setosa      True
26                5.0               3.4  ...   setosa      True
27                5.2               3.5  ...   setosa     False
28                5.2               3.4  ...   setosa      True
29                4.7               3.2  ...   setosa      True

[30 rows x 6 columns]

In [ ]:
train, test = df[df['is_train']==True], df[df['is_train']==False]

In [ ]:
print('Number of observations in the training data:', len(train))
print('Number of observations in the test data:',len(test))

Number of observations in the training data: 118
Number of observations in the test data: 32

In [ ]:
features = df.columns[:4]
features

Index(['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)',
       'petal width (cm)'],
      dtype='object')

In [ ]:
y = pd.factorize(train['species'])[0]

# View target
y

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2])

In [ ]:
clf = RandomForestClassifier(n_jobs=2, random_state=0)


clf.fit(train[features], y)

RandomForestClassifier(n_jobs=2, random_state=0)

In [ ]:
clf.predict(test[features])

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 2, 2, 1, 1, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

In [ ]:
clf.predict_proba(test[features])[0:10]

array([[1.  , 0.  , 0.  ],
       [1.  , 0.  , 0.  ],
       [1.  , 0.  , 0.  ],
       [1.  , 0.  , 0.  ],
       [1.  , 0.  , 0.  ],
       [0.95, 0.05, 0.  ],
       [1.  , 0.  , 0.  ],
       [0.99, 0.01, 0.  ],
       [1.  , 0.  , 0.  ],
       [1.  , 0.  , 0.  ]])

In [ ]:
preds = iris.target_names[clf.predict(test[features])]

In [ ]:
preds[0:5]

array(['setosa', 'setosa', 'setosa', 'setosa', 'setosa'], dtype='<U10')

In [ ]:
test['species'].head()

7     setosa
8     setosa
10    setosa
13    setosa
17    setosa
Name: species, dtype: category
Categories (3, object): ['setosa', 'versicolor', 'virginica']

In [ ]:
pd.crosstab(test['species'], preds, rownames=['Actual Species'], colnames=['Predicted Species'])

Predicted Species  setosa  versicolor  virginica
Actual Species
setosa                 13           0          0
versicolor              0           5          2
virginica               0           0         12

In [ ]:
from sklearn.metrics import confusion_matrix,accuracy_score

In [ ]:
confusion_matrix = confusion_matrix(test['species'],preds)
confusion_matrix
accuracy_score(test['species'],preds)

0.9375